<ion-view title="Contact">
  <ion-content class="padding">

    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33 logo">
      		<img src="./img/logo_2.png">
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        
        <div class="card">
 			<div class="item item-text-wrap">
	    		<ul class="adresse">
		            <li>
		              Domaine de la Salle - Bouc Bel Air
		            </li>
		            <li>
		            	À l'angle des rues Auguste Renoir & Pierre Bellot
		            </li>
		            <li class="tel">
		            	<i class="icon ion-ios-telephone"></i> 06.99.28.66.58
		            </li>
		            <li>
		            	Livraison
		            </li>
		            <li>
		            	7j/7 - 18h à 22h30
		            </li>
	          	</ul>
  			</div>
		</div>
      </div>
    </div>

    <div class="mapWrap" data-tap-disabled="true">
        <map center="43.43771774793634,5.424571931362152" zoom="15"> 
          <!-- ngRepeat: pos in positions -->
          <marker ng-repeat="pos in positions" url="comgooglemaps://?center=43.43771774793634,5.424571931362152" position="{{pos.lat}},{{pos.lng}}">
          </marker>
        </map> 
    </div>
    
  </ion-content>
</ion-view>
