<ion-view title="Accueil">
  <ion-content class="padding center">
    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        <p class="scan">
          <ng-pluralize count="count"
                 when="{'one': 'Vous avez déjà commandé 1 pizza.',
                        'other': 'Vous avez déjà commandé {} pizzas'}">
          </ng-pluralize>
        </p>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        <button class="button button-balanced" on-tap="startScan()">Scanner un QR Code</button>
      </div>
    </div>

    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        <p ng-if="promo.length" class="scan">
          Voici l'historique de vos codes promotion:
          <ul>
            <li ng-repeat="p in promo">
              1 pizza: {{p}}
            </li>
          </ul>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
