<ion-view title="Menu">
  <ion-content class="padding">
    <div class="list" ng-repeat="group in menu">
      <div class="item item-divider">{{group.title}}</div>
      <a class="item" ng-repeat="item in group.items">
        <h2>{{item.title}}</h2>
        <p ng-if="item.recipe">{{item.recipe}}</p>
        <span class="item-note {{item.css.price}}">{{item.price}}€</span>
      </a>
    </div>
    <div class="row responsive-sm" ng-repeat="item in menus">
      <div class="col col-33 col-offset-33">
        <div class="card {{item.css.card}}">
          <div class="item item-text-wrap">
            <ul>
              <li>
                <h3>{{item.title}}</h3>
              </li>
              <li ng-bind-html="item.desc"></li>
              <li>{{item.price}}€</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
