<ion-view title="Menu">
  <ion-content class="padding">

    <div class="list">

      <div class="item item-divider">
        La Pizza du Mois
      </div>

        <a class="item">
          <h2>4 Fromages</h2>
          <p>Crème, roquefort, chèvre, mozarella, râpée</p>
          <span class="item-note">
            9€
          </span>
        </a>

    </div>

    <div class="list">

      <div class="item item-divider">
        Les Classics
      </div>

        <a class="item">
          <h2>Fromage</h2>
          <p>Sauce tomate, fromage râpé, olives</p>
          <span class="item-note">
            8€
          </span>
        <a class="item">
          <h2>Anchois</h2>
          <p>Sauce tomate, anchois, olive</p>
          <span class="item-note">
            8€
          </span>
        </a>
        <a class="item">
          <h2>Jambon</h2>
          <p>Sauce tomate, jambon, fromage râpé</p>
          <span class="item-note">
            9€
          </span>
        </a>
        <a class="item">
          <h2>Mozzarella</h2>
          <p>Sauce tomate, mozzarella, avec ou sans fromage</p>
          <span class="item-note">
            9€
          </span>
        </a>
        <a class="item">
          <h2>4 Fromages</h2>
          <p>Sauce tomate, roquefort, chèvre, mozzarella, fromage râpé</p>
          <span class="item-note">
            10€
          </span>
        </a>
        <a class="item">
          <h2>Figatelli</h2>
          <p>Sauce tomate, figatelli râpé</p>
          <span class="item-note">
            8€
          </span>
        </a>
        <a class="item">
          <h2>Chèvre</h2>
          <p>Sauce tomate, chèvre râpé</p>
          <span class="item-note">
            8€
          </span>
        </a>

    </div>

    <div class="list">

      <div class="item item-divider">
        Les Crèmes
      </div>

        <a class="item">
          <h2>4 Fromages</h2>
          <p>Crème, roquefort, chèvre, mozarella, râpée</p>
          <span class="item-note">
            9€
          </span>
        </a>
        <a class="item">
          <h2>Fermière</h2>
          <p>Oignons, lardons, crème fraîche</p>
          <span class="item-note">
            9€
          </span>
        </a>
        <a class="item">
          <h2>Montagnarde</h2>
          <p>Crème</p>
          <span class="item-note">
            10€
          </span>
        </a>
        <a class="item">
          <h2>Corse</h2>
          <p>Crème, figatelli, brousse</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Tartiflette</h2>
          <p>Crème, pommes de terre, oignons, lardons, reblochon</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Saumon fumé</h2>
          <p>Crème, saumon fumé, fromage, aneth</p>
          <span class="item-note">
            11€
          </span>
        </a>

    </div>

    <div class="list">

      <div class="item item-divider">
        Les Spécialités
      </div>

        <a class="item">
          <h2>La boucaine</h2>
          <p>Tomates cerise confites, roquette</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Pissaladière</h2>
          <p>Oignons confits, anchois</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Arménienne</h2>
          <p>Viande hachée, oignons, poivrons, menthe</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Orientale</h2>
          <p>Sauce tomate, merguez, oignons, poivrons, fromage</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Kebbab</h2>
          <p>Kebbab, oignons, poivrons, fromage</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Chèvre miel</h2>
          <p>Sauce tomate, chèvre, miel, fromage</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Thon-câpres</h2>
          <p>Sauce tomate ou crème, thon, câpre</p>
          <span class="item-note">
            11€
          </span>
        </a>
        <a class="item">
          <h2>Provençale</h2>
          <p>Tomates fraîches, mozzarella, anchois, basilic</p>
          <span class="item-note">
            11€
          </span>
        </a>

    </div>


    <div class="list">

      <div class="item item-divider">
        Nos Desserts Maison
      </div>

        <a class="item">
          <h2>Tiramisu</h2>
          <span class="item-note item-note-1">
            5€
          </span>
        </a>
        <a class="item">
          <h2>Chausson Nutella-Banane</h2>
          <span class="item-note item-note-1">
            6€
          </span>
        </a>
        <a class="item">
          <h2>Pizza gourmande (4 personnes)</h2>
          <span class="item-note item-note-1">
            8€
          </span>
        </a>

    </div>


    <div class="list">

      <div class="item item-divider">
        Nos Boissons
      </div>

        <a class="item">
          <h2>Coca-Cola</h2>
        </a>
        <a class="item">
          <h2>Orangina</h2>
        </a>
        <a class="item">
          <h2>Fanta</h2>
        </a>
        <a class="item">
          <h2>San Pelldgrino</h2>
        </a>
        <a class="item">
          <h2>Perrier</h2>
        </a>
        <a class="item">
          <h2>Vin Rouge & Rosé</h2>
        </a>

    </div>
  </ion-content>
</ion-view>
