<ion-view title="Menu">
  <ion-content class="padding">
    <div class="list" ng-repeat="group in menu">
      <div class="item item-divider">{{group.title}}</div>
      <a class="item" ng-repeat="item in group.items">
        <h2>{{item.title}}</h2>
        <p ng-if="item.recipe">{{item.recipe}}</p>
        <span class="item-note {{item.css.price}}">{{item.price}}€</span>
      </a>
    </div>
    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        <div class="card menu-enfant">
          <div class="item item-text-wrap">
            <ul>
              <li>
                <h3>Menu Enfant</h3>
              </li>
              <li>
                1 boisson - 33cl
              </li>
              <li>
                + 1 petite pizza au choix
              </li>
              <li>
                + 1 surprise
              </li>
              <li>6€</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-sm">
      <div class="col col-33 col-offset-33">
        <div class="card menu-poulet">
          <div class="item item-text-wrap">
            <ul>
              <li>
                <h3>Tous les Mercredis</h3>
              </li>
              <li>
                Poulet fermier rôti au feu de bois
              </li>
              <li>
                avec ses pommes de terre
              </li>
              <li>14€</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
